@import "variables";
@import "maps";

body {
  background-color: $bodyBg;
}

#container {
  background-color: $myColor;
  height: $height;
}

.primary {
  background-color: map-get($colors, primary);
}

.brand {
  background: map-get($colors, brand);
}

.normal {
  background: map-get($colors, normal);
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }
}
