h1 {
  color: red;
}
h1 {
  color: blue;
}

h1 {
  color: green;
}

.main-heading {
  color: yellow;
}

h2 {
  color: blue;
}

main {
  color: red;
}

span {
  color: black;
}

#div1 {
  border: 1px solid green;
  padding: 5px;
}

#div1Child,
#div2Child {
  border: 1px solid rgb(255, 0, 204);
}

#div1 {
  height: 100px;
  color: red;
}

#div1Child {
  height: inherit;
}

section {
  color: red;
}
.div {
  color: green;
}
.div {
  color: unset;
}
