h4 {
  color: green;
}

/* This is a CSS comment */
h1 {
  color: green;
}

/* ANATOMY */
/* selector {
  property: value;
} */

/* Lists */

/* CHANGING THE LIST STYLE */

.list {
  list-style: square;
}

.list-color {
  color: blue;
}

.item-b {
  color: red;
}

#item-b {
  color: green;
}

/* #item-id {
  font-size: 100px;
}*/

/* NESTING AND LISTS */
